name: Daily Git Commit Automation

on:
  schedule:
    - cron: '0 0 1 * *' 
  workflow_dispatch:  # Allows manual triggering if needed

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H github.com >> ~/.ssh/known_hosts

      - name: Configure Git Identity
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"

      - name: Run Git Commit Script
        run: |
          python git_committed.py

      - name: Push Changes
        run: |
          git add .
          git commit -m "Automated commit by GitHub Actions" || echo "No changes to commit."
          GIT_SSH_COMMAND="ssh -i ~/.ssh/id_ed25519 -o IdentitiesOnly=yes" git push git@github.com:pavanmanikanta31/git_committed.git || echo "No changes to push."
